.app_pink_theme {
    --bg-color: #63003c;
    --inverted-bg-color: #eee4e7;
    --primary-color: #ffdff4;
    --secondary-color: #e0dff2;
    --inverted-primary-color: #f70a55;
    --inverted-secondary-color: #f6dbea;

    // Skeleton
    --skeleton-shadow: rgb(202 13 13);
    --skeleton-color: rgba(226 98 98);

    // Code
    --code-bg: #d56cab;
}
